@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import 'tailwindcss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@theme {
  --color-primary-10: #e4dee0;
  --color-primary-20: #d2c8cb;
  --color-primary-30: #bbacb1;
  --color-primary-40: #a59098;
  --color-primary-50: #8e757e;
  --color-primary: #785964;
  --color-primary-70: #644a53;
  --color-primary-80: #503b43;
  --color-primary-90: #3c2d32;
  --color-primary-100: #281e21;
  --color-primary-110: #181214;
}
